@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary-100: #d7e9ff;
  --color-primary: #0077ff;
  --color-secondary: #fbe843;
  --color-black-100: #333333;
  --color-black-200: #141413;
  --color-black-300: #7d8087;
  --color-black: #000000;
  --color-white-100: #f7f7f7;
  --color-white: #ffffff;

  --font-family-work-sans: var(--font-work-sans), ui-sans-serif, system-ui,
    sans-serif;

  --default-font-family: var(--font-work-sans), ui-sans-serif, system-ui,
    sans-serif;
  --font-sans: var(--font-work-sans), ui-sans-serif, system-ui, sans-serif;

  --radius: 0.5rem;

  --shadow-100: 2px 2px 0px 0px rgb(0, 0, 0);
  --shadow-200: 2px 2px 0px 2px rgb(0, 0, 0);
  --shadow-300: 2px 2px 0px 2px rgb(0, 119, 255);

  --breakpoint-xs: 475px;
}

@layer components {
  .heading {
    text-transform: uppercase;
    background-color: black;
    font-family: var(--font-work-sans);
    font-weight: 800;
    color: white;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    margin-block: 20px;
    padding: 5px 13px;

    @media (width >= 40rem) {
      font-size: 54px;
      line-height: 64px;
      padding: 5px 26px;
    }
  }

  .pattern {
    --pattern-angle: 45deg;
    --stripe-gap: 60px;
    --stripe-thickness: 1px;

    background-image: repeating-linear-gradient(
      var(--pattern-angle),
      transparent 0 calc(var(--stripe-gap) - var(--stripe-thickness)),
      #c8c8c88e calc(var(--stripe-gap) - var(--stripe-thickness))
        var(--stripe-gap)
    );
    background-position: center;
  }
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}
